.modal-img-container {
  text-align: center;
}

.modal-text-container {
  margin-top: 15%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.modal-type-container .type {
  margin: 10px;
  text-align: center;
  width: 70px;
  height: 30px;
  padding: 5px 8px 5px 8px;
  display: inline-block;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  font-size: 13px;
  font-family: 'helvetica neue', Helvetica, Verdana, sans-serif;
  color: #fff;
}

.modal-type-container .Normal {
  background-color: #a8a878;
  border: 1px solid #6d6d4e;
}

.modal-type-container .Fire {
  background-color: #f08030;
  border: 1px solid #9c531f;
}

.modal-type-container .Water {
  background-color: #6890f0;
  border: 1px solid #445e9c;
}

.modal-type-container .Electric {
  background-color: #f8d030;
  border: 1px solid #a1871f;
}

.modal-type-container .Grass {
  background-color: #78c850;
  border: 1px solid #4e8234;
}

.modal-type-container .Ice {
  background-color: #98d8d8;
  border: 1px solid #638d8d;
}

.modal-type-container .Ground {
  background-color: #e0c068;
  border: 1px solid #927d44;
}

.modal-type-container .Flying {
  background-color: #a890f0;
  border: 1px solid #6d5e9c;
}

.modal-type-container .Ghost {
  background-color: #705898;
  border: 1px solid #493963;
}

.modal-type-container .Rock {
  background-color: #b8a038;
  border: 1px solid #786824;
}

.modal-type-container .Fighting {
  background-color: #c03028;
  border: 1px solid #7d1f1a;
}

.modal-type-container .Poison {
  background-color: #a040a0;
  border: 1px solid #682a68;
}

.modal-type-container .Psychic {
  background-color: #f85888;
  border: 1px solid #a13959;
}

.modal-type-container .Bug {
  background-color: #a8b820;
  border: 1px solid #6d7815;
}

.modal-type-container .Dark {
  background-color: #705848;
  border: 1px solid #49392f;
}

.modal-type-container .Steel {
  background-color: #b8b8d0;
  border: 1px solid #787887;
}

.modal-type-container .Dragon {
  background-color: #7038f8;
  border: 1px solid #4924a1;
}

.modal-type-container .None {
  opacity: 0;
}
