.home-container {
  height: 100vh;

  background: url('../../images/Pokeball.svg') no-repeat -312px -221.22px
    #ef2d2e;
  background-blend-mode: color-burn;
}

.male-trainer-container {
  position: absolute;
  left: 100px;
  top: 66px;
}

.female-trainer-container {
  position: absolute;
  left: 410px;
  top: 120px;
}

.text-container {
  position: absolute;
  left: 900px;
  top: 104px;
  width: 419px;
}

.home-container h1 {
  font-size: 72px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.home-container p {
  font-size: 30px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.button-container {
  position: absolute;
  width: 238px;
  height: 63px;
  left: 900px;
  top: 379px;
}

.button {
  display: inline-block;
  border-radius: 35px;
  background-color: #0059ff;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover {
  background-color: #00a2ff;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
