.pokedex-container {
  height: 100%;
  display: block;
  background: url('../../images/Pokedex-background.png');
}

.title-container {
  width: 60%;
  text-align: center;
}

.cards-container {
  padding: 0 20px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 20px;
}

header {
  margin-top: 30px;
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}

.pagination-container {
  text-align: center;
  margin-bottom: 30px;
}

.back-container {
  width: 20%;
}

.back-container h2 {
  margin-left: 100px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 55px;

  color: #35b1f8;
}
